:root {
  /* USE THEME STYLING WITH var(--variable_name) i.e var(--bg) */
  --bg: #fcfefb;
  --bg-dark: #e8ebdf;
  --bg-light: #f8faf4;

  --primary: #7cd93a;
  --primary-neutral: #cfd4c0;
  --primary-hover: #6abb30;
  --secondary: #f59b66;
  --accent: #bba3e5;

  --text: #232715;
  --text-muted: #6b6f5a;
  --border: #d9dccf;

  --success: #62c53c;
  --error: #e4584f;
  --info: #7da4f2;
  --warning: #f2c94c;
}
