:root {
    /* USE THEME STYLING WITH var(--variable_name) i.e var(--bg) */
    --bg: #FCFEFB;
    --bg-dark: #E8EBDF;
    --bg-light: #F8FAF4;
    
    --primary: #7CD93A;
    --primary-neutral: #CFD4C0;
    --secondary: #F59B66;
    --accent: #BBA3E5;

    --text: #232715;
    --text-muted: #6B6F5A;
    --border: #D9DCCF;

    --success: #62C53C;
    --error: #E4584F;
    --info: #7DA4F2;
    --warning: #F2C94C;
}