header {
    background-color: #E8EBDF;
    color: #232715;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    box-sizing: border-box;
}

button.toggle-button {
    background: none;
    border: none;
    cursor: pointer;
}