#login-card {
    background-color: var(--bg-light);
    border: solid var(--border) 2px;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    color: var(--text);
    gap: 10px;
    font-size: 1rem;
    margin: 24px;
}

#login-card > * {
    display: block;
}

#login-card span {
    color: var(--text-muted);
    font-size: 0.75rem;
}

#login-card h1 {
    margin: 0;
}

#login-card a {
    color: var(--text-muted);
    text-decoration: none;
}

#login-card a:hover {
    color: var(--text-muted-hover);
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1rem;
}

.form-item input {
    padding: 0.75rem;
    border-radius: 8px;
}

@media screen and (max-width: 529px) {
    #login-card {
        width: 100%;
        border: none;
        background-color: var(--bg);
    }
}