button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

div.profile-dropdown {
    position: absolute;
    right: 0.5rem;
    top: 3rem;
    width: 10rem;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #d9dccf;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.profile-item {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
}